.card-item {
  margin: 2rem;
  padding: 1.5rem 1rem;
  list-style: none;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  cursor: pointer;
}
.recipe-image {
  min-height: 200px;
  min-width: 180px;
  background-color: var(--off-white);
  margin-bottom: 1rem;
  padding: 1rem;
}

.recipe-name {
  background-color: var(--white);
  text-transform: capitalize;
  padding: 0rem 1rem;
  margin: 1rem;
  font-weight: bold;
}

.recipe-description {
  background-color: var(--white);
  padding: 0rem 1rem;
}
