.recipe-name {
  text-align: center;
  padding-top: 1rem;
  margin-top: 1rem;
}
.description-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recipe-description {
  font-style: italic;
  padding-bottom: 0.5rem;
}
.recipe-image {
  height: 200px;
  width: 200px;
  background-color: var(--off-white);
}
.recipe-history {
  padding: 0.5rem;
  font-style: italic;
}

.ingredients-section {
  margin: 1rem 10rem;
}

.title-ingredients {
  padding-left: 2rem;
}

.ingredients-wrapper {
  font-size: 1.2rem;
  padding: 0 2rem 0 2rem;
  display: flex;
  justify-content: start;
  align-items: center;
}
.ingredients {
  list-style: none;
  line-height: 2rem;
  padding-right: 1rem;
}
.title-method {
  margin: 1rem 0 0 1rem;
  padding-left: 1rem;
}
.method-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 2rem 0 2rem;
  font-size: 1.2rem;
  line-height: 130%;
}
